extends header.pug

block content 
    div.conteiner#conteiner
        div.conteiner-pokedex__conteiner-filters.flex
            div.conteiner-filters__conteiner-limits
                div.limits__box.flex
                    button.input__limits#inputLimit 5
                    button.input__limits#inputLimit 20
                    button.input__limits#inputLimit 50
                    button.input__limits#inputLimit 100
            div.types__box.flex
                div.select__type
                    div.flex.type-button
                        button.buttontest#selectType Types
                        img(src="/Public/Assets/arrow-type.png", alt="arrow").test2arrow#imgArrow
                    ul.ul.nones#menu
                        li.option
                            a(href=`/Pokedex`) All
                        each types in allTypes
                            if types.name !== 'unknown' && types.name !==  'shadow'
                                li.option
                                    a(href=`/types/${types.name}`)= types.name
                select.select__order#selectOrder
                    mixin order(name, subname) 
                            if(name === locals.order)
                                option(value=name selected)= subname
                            else
                                option(value=name)= subname
                    optgroup(label="Id")
                        +order("asc", "Asc")
                        +order("desc", "Desc")
                    optgroup(label="alphabetical")
                        +order("a-z", "A-z")
                        +order("z-a", "Z-a")
        main.main.flex
            div.conteiner__pokes.flex#backPoke
                each value in locals.allPokemons
                    div.conteiner__pokes__box-poke.flex
                        p.box-poke__name-poke#namePoke= `${value.name} / N°${value.id}`
                        if(value.sprites.front_default !== null)
                            img( src=`${value.sprites.front_default}` alt=`${value.name}`).box-poke__img-poke#imgPoke
                        div.box-poke__input-poke.flex
                            a(href=`/pokemon/${value.name}`).input-poke__link#linkPoke
                                div 
                                    p.input-poke__link catch!
                                    img(src="/Public/Assets/pokeball.png" alt="Pokeball link").input-poke__link-img
            div.conteiner-pagination.flex
                div.conteiner-pagination__add-db
                    a(href="/PokemonAdd" )
                        img(src="/Public/Assets/poke-add.png", alt="add").add-button
                    a(href="/Fav" )
                        img(src="/Public/Assets/hearth.png", alt="fav").nav__logo.fav_icon#iconFav
                if (locals.count !== 0)
                    div.conteiner-pagination__box-pagination.flex#paginations
                        -let number = -1
                        -let offsetNow = limit * number
                        while parseInt(number++) < Math.floor( count / limit )
                            if((limit * (number - 3)) < offset && offset < (limit * (number + 3)) )
                                if (limit * number == offset)
                                    button( type="submit" value=`${(limit * number)}`).box-pagination__pag-button.flex.pag_now#pag= number
                                else
                                    button( type="submit" value=`${(limit * number)}`).box-pagination__pag-button.flex#pag= number
                img( src="/Public/Assets/arrow.png" alt="arrow").arrow.arrow-right#arrow
            form(action="" method="get")#createForm
                input(type="hidden" name="offset" value=`${offset}`)#hiddenOffset
                input(type="hidden" name="limit" value=`${limit}`)#hiddenLimit
                input(type="hidden" name="order" value=`${order}`)#hiddenOrder
                input(type="hidden" name="mode" value=`${mode}`)#hiddenMode
    include footer.pug
    script( type="module" src="/Public/Js/pokedex.js") 