extends header.pug

block content 
    div.conteiner#conteiner
        div.conteiner-pokedex__conteiner-filters.flex
            div.conteiner-filters__conteiner-limits
                div.limits__box.flex
                    button.input__limits#inputLimit 5
                    button.input__limits#inputLimit 20
                    button.input__limits#inputLimit 50
                    button.input__limits#inputLimit 100
            div.types__box.flex
                select.select__type#selectType
                    option(value="") All
                    each types in locals.allTypes
                        if types.name !== 'unknown'
                            option=types.name
                select.select__order#selectOrder
                    optgroup(label="Id")
                        option( value="asc") Asc
                        option( value="desc") Desc
                    optgroup(label="alphabetical")
                        option( value="a-z") A-Z
                        option( value="z-a") Z-A
        main.main.flex
            div.conteiner__pokes.flex#backPoke
                each value in locals.allPokes
                    div.conteiner__pokes__box-poke.flex
                        p.box-poke__name-poke#namePoke= value.names
                        img( src=`${value.sprites[0]}` alt=`${value.names}`).box-poke__img-poke#imgPoke
                        div.box-poke__input-poke.flex
                            a(href=`/pokemon/${value.names}`).input-poke__link#linkPoke
                                div 
                                    p.input-poke__link catch!
                                    img(src="Public/Assets/Pokeball.png" alt="Pokeball link").input-poke__link-img
            div.conteiner-pagination.flex
                a(href="/db/addDB" ).conteiner-pagination__add-db +
                div.conteiner-pagination__box-pagination.flex#paginations
                    -let number = -1
                    -let offsetNow = locals.limit * number
                    while parseInt(number++) < Math.floor( locals.count / locals.limit )
                        if((locals.limit * (number - 3)) < locals.offset && locals.offset < (locals.limit * (number + 3)) )
                            if (locals.limit * number == locals.offset)
                                button( type="submit" value=`${(locals.limit * number)}`).box-pagination__pag-button.flex.pag_now#pag= number
                            else
                                button( type="submit" value=`${(locals.limit * number)}`).box-pagination__pag-button.flex#pag= number
                img( src="/Public/Assets/arrow.png" alt="arrow").arrow.arrow-right#arrow
            form(action="" method="get")#createForm
                input(type="hidden" name="offset" value=`${locals.offset}`)#hiddenOffset
                input(type="hidden" name="limit" value=`${locals.limit}`)#hiddenLimit
                input(type="hidden" name="order" value=`${locals.order}`)#hiddenOrder
    script(type="module" src="/Public/Js/Listeners.js") 
    include footer.pug