extends header.pug

block content 
    div.conteiner#conteiner
        div.background-white.flex 
            div.background-color.flex
                div.conteiner-pokemon.flex
                    p.box-poke__name-poke.box-poke__name-poke--margin#namePoke= `${locals.getData.name} / N°${locals.getData.id}`
                    div.conteiner-pokemon__box-pokemon.flex
                        button.fav-button
                            img(src="/Public/Assets/img/!.png", alt="").fav-button__fav-logo 
                        div 
                            if locals.getData.sprites.other.home.front_default
                                img(src=`${locals.getData.sprites.other.home.front_default}`).box-poke__img-poke#imgPoke 
                        div.shiny-fav-buttons 
                            button
                                img(src="/Public/Assets/img/shiny.png", alt="").fav-button__fav-logo 
                            button
                                img(src="/Public/Assets/img/Heart.png", alt="").fav-button__fav-logo 
                p.pokemon-data  data
                div.data_background 
                    p Height 
                    p= locals.getData.height
                    p weight
                    p= locals.getData.weight
                p.pokemon-data Types 
                div.background-data
                    each types in locals.getData.types
                        img(src=`/Public/Assets/img/${types.type.name}.png` alt="").types
                p.pokemon-data  Abilities 
                div.background-data
                    each ability in locals.getData.abilities 
                        if ability.is_hidden 
                            div.flex
                                p Ability ocult
                                p= ability.ability.name
                        else 
                            div.flex
                                p Ability
                                p= ability.ability.name
                
                if locals.getData.moves == null
                    p.pokemon-data Moves
                    div.moves-data.flex 
                        each move in locals.getData.moves
                            p= move.move.name
                p.pokemon-data Method encounter / Varierities
                div.background-data 
                    div.flex
                            p Habitat
                            if  locals.evoSpecie.habitat !== null
                                p= locals.evoSpecie.habitat
                    div.flex
                            p Rate  
                            p= locals.evoSpecie.rate
                    div.flex
                            p Varierities 
                            div.conteiner-varierities.flex
                                each varierities in locals.evoSpecie.varierities
                                    if !varierities.is_default
                                        a(href=`${varierities.pokemon.name}`)= varierities.pokemon.name
            p.title Stat
            div.box-stat.flex
                each stat in locals.getData.stats
                    if stat.stat.name === 'hp'
                        div.bar-background.bar-background--green
                            div.bar-front.bar-front--green
                                p.stat-text= `${stat.stat.name} ${stat.base_stat}`
                    else if stat.stat.name === 'attack'
                        div.bar-background.bar-background--red
                            div.bar-front.bar-front--red
                                p.stat-text= `${stat.stat.name} ${stat.base_stat}`
                    else if stat.stat.name === 'defense'
                        div.bar-background.bar-background--blue
                            div.bar-front.bar-front--blue
                                p.stat-text= `${stat.stat.name} ${stat.base_stat}`
                    else if stat.stat.name === 'special-attack'
                        div.bar-background.bar-background--orange
                            div.bar-front.bar-front--orange
                                p.stat-text= `${stat.stat.name} ${stat.base_stat}`
                    else if stat.stat.name === 'special-defense'
                        div.bar-background.bar-background--light-blue
                            div.bar-front.bar-front--light-blue
                                p.stat-text= `${stat.stat.name} ${stat.base_stat}`
                    else if stat.stat.name === 'speed'
                        div.bar-background.bar-background--pink
                            div.bar-front.bar-front--pink
                                p.stat-text= `${stat.stat.name} ${stat.base_stat}`
            if locals.evoChain !== null                 
                p.title Evolution Chain
                div.box-evolution.flex
                    each evochain in locals.evoChain
                        div.box-evolution__pokemon
                            p.box-poke__name-poke#namePoke= `${evochain.species_name} / N°${evochain.img}`
                            img(src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/${evochain.img}.png`).box-poke__img-poke#imgPoke 
                        a(href=`/pokemon/${evochain.species_name}`).box-evolution__evolution-link Evolved!
                        img(src="/Public/Assets/img/arrow-evo.png", alt="arrow").arrow
                img( src="/Public/Assets/img/arrow.png" alt="arrow").arrow#arrow
    script(type="module" src="/Public/Js/front.js") 
    include footer.pug