extends header.pug

block content 
    div.conteiner#conteiner
        div.background-white.flex 
            div.background.flex#backgroundDinamic
                div.conteiner-pokemon.flex
                    p.box-poke__name-poke.box-poke__name-poke--margin#namePoke= `${locals.pokemonData.name} / N°${locals.pokemonData.id}`
                    div.conteiner-pokemon__box-pokemon.flex
                        div.modal#modal.none
                            p.modal-text#info.none= locals.pokemonData.description
                        button.fav-button.flex#info
                            img(src="/Public/Assets/!.png", alt="").fav-button__fav-logo#info
                        div         
                            if locals.pokemonData.sprites.front_default !== null
                                img(src=`${locals.pokemonData.sprites.front_default}`).box-poke__img-poke#imgPoke 
                            else 
                                img(src=`` alt=`${locals.pokemonData.name}`).box-poke__img-poke#imgPoke 
                            if locals.pokemonData.sprites.front_shiny !== null
                                img(hidden src=`${locals.pokemonData.sprites.front_shiny}`).box-poke__img-poke#imgShiny 
                            else 
                                img(hidden src=`` alt=`${locals.pokemonData.name}`).box-poke__img-poke#imgShiny
                        div.shiny-fav-buttons.flex 
                            button.fav-button--radius#shiny
                                img(src="/Public/Assets/shiny.png", alt="").fav-button__fav-logo#shiny
                            button.fav-button--radius#fav
                                img(src="/Public/Assets/Heart.png", alt="").fav-button__fav-logo#fav 
                if locals.pokemonData.legendary === true || locals.pokemonData.mythical === true
                    div.width--60.flex
                        if locals.pokemonData.legendary === true
                            div.width--50.margin--auto
                                img(src="/Public/Assets/L.png").width--50
                                p L
                        if locals.pokemonData.mythical === true
                            div.width--50.margin--auto
                                img(src="/Public/Assets/M.png").width--50 
                                p M
                p.pokemon-data  data
                div.background-data#backDataDinamic 
                    p Height 
                    p= locals.pokemonData.height
                    p weight
                    p= locals.pokemonData.weight
                p.pokemon-data Types 
                div.background-data#backDataDinamic
                    each value in locals.pokemonData.types
                        img(src=`/Public/Assets/${typeof value.type !== 'undefined'? value.type.name : value._type.name}.png` alt="").types
                p.pokemon-data  Abilities 
                div.background-data#backDataDinamic
                    each value in locals.pokemonData.abilities 
                        if value.is_hidden 
                            div.flex
                                p.ability_ocult.content-ability Ability ocult
                                p.data--content= value.ability.name
                        else 
                            div.flex
                                p.ability.content-ability Ability
                                p.data--content= value.ability.name
                if locals.pokemonData.moves !== null
                    p.pokemon-data Moves
                    div.moves-data#backDataDinamic.flex 
                        each value in locals.pokemonData.moves
                            p= value.move.name
                if (locals.pokemonData.varierities.length > 1)            
                    p.pokemon-data Method encounter / Varierities
                else 
                    p.pokemon-data Method encounter
                div.background-data#backDataDinamic 
                    if locals.pokemonData.habitat !== null
                        div.flex
                            p.data--content Habitat
                            each value in locals.pokemonData.habitat
                                if value !== null
                                    p.data--content= value
                                else 
                                    p.data--content= '???'
                    div.flex
                        p.data--content Rate  
                        p.data--content=`${locals.pokemonData.rate}%`
                    div.flex
                        p.varirities Varierities 
                        div.conteiner-varierities.flex
                            if (locals.pokemonData.varierities > 0)
                                each value in locals.pokemonData.varierities
                                    if locals.pokemonData.name !== value.pokemon.name
                                        a(href=`${value.pokemon.name}`).varirities.width--100= value.pokemon.name
                            else 
                                p.varirities.width--100= '???'
            p.title Stat
            div.box-stat.flex#stats
                each value in locals.pokemonData.stats
                    if value.stat.name === 'hp'
                        div.bar-background.bar-background--green
                            div.bar-front.bar-front--green
                                p.stat-text= `${value.stat.name} ${value.base_stat}`
                    else if value.stat.name === 'attack'
                        div.bar-background.bar-background--red
                            div.bar-front.bar-front--red
                                p.stat-text= `${value.stat.name} ${value.base_stat}`
                    else if value.stat.name === 'defense'
                        div.bar-background.bar-background--blue
                            div.bar-front.bar-front--blue
                                p.stat-text= `${value.stat.name} ${value.base_stat}`
                    else if value.stat.name === 'special-attack'
                        div.bar-background.bar-background--orange
                            div.bar-front.bar-front--orange
                                p.stat-text= `${value.stat.name} ${value.base_stat}`
                    else if value.stat.name === 'special-defense'
                        div.bar-background.bar-background--light-blue
                            div.bar-front.bar-front--light-blue
                                p.stat-text= `${value.stat.name} ${value.base_stat}`
                    else if value.stat.name === 'speed'
                        div.bar-background.bar-background--pink
                            div.bar-front.bar-front--pink
                                p.stat-text= `${value.stat.name} ${value.base_stat}`      
            p.title Evolution chain
            div.box-evolution.flex
                -let count = 1
                each value in locals.pokemonData["evolution_chain"]
                    if value !== null
                        div.box-evolution__pokemon
                            p.box-poke__name-poke#namePoke= `${value.name} / N°${value.id}`
                            img(src=`${typeof value.img === 'undefined' ? value.sprites.front_default : 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/' + value.img + '.png'}`).box-poke__img-poke#imgPoke 
                            if value.id < locals.pokemonData.id
                                a(href=`/pokemon/${value.name}`).box-evolution__evolution-link Involution!
                            else if (value.id > locals.pokemonData.id)
                                a(href=`/pokemon/${value.name}`).box-evolution__evolution-link Evolved!
                            else 
                                a(href=`/pokemon/${value.name}`).box-evolution__evolution-link Now!
                            if (locals.pokemonData["evolution_chain"].length > count++)
                                img(src="/Public/Assets/arrow-evo.png", alt="arrow").arrow-evolution 
            img( src="/Public/Assets/arrow.png" alt="arrow").arrow#arrow
    script(type="module" src="/Public/Js/pokemon.js") 
    include footer.pug